<h1>{{title}}</h1>
		<div class="container-fluid header2">
	<div class="row align-items-center">
		<div class="col-6">
		<h4 style="color: #EBDC0D">The Best News Channel</h4>
	
		</div>
		<div class="navbar-nav ml-auto">
				<a class="nav-item nav-link" href="#">Home <span class="sr-only">(current)</span></a>
				<a class="nav-item nav-link" href="#">Page</a>
				<a class="nav-item nav-link" href="#">Blog</a>
				<a class="nav-item nav-link" href="#">Portfolio</a>
				<a class="nav-item nav-link" href="#">Componants</a>
				<a class="nav-item nav-link" href="#">Contacts</a>
			</div>
		
		</div>
	</div>
	